body {
  margin: 0;
  padding: 0;
  text-align: center;
}

.navText {
  color: blue;
}

.imageCell {
  display: inline;
  margin: 10px;
  padding: 10px;
}

.image {
  cursor: pointer;
  width: 25%;
}

.single-photo {
  width: 100%;
}
